# dependencies
ITFO-FRONT/node_modules
ITFO-FRONT/.pnp
ITFO-FRONT/.pnp.js

# testing
ITFO-FRONT/coverage

# production
ITFO-FRONT/build

# misc
ITFO-FRONT/.DS_Store
ITFO-FRONT/.env.local
ITFO-FRONT/.env.development.local
ITFO-FRONT/.env.test.local
ITFO-FRONT/.env.production.local

ITFO-FRONT/npm-debug.log*
ITFO-FRONT/yarn-debug.log*
ITFO-FRONT/yarn-error.log*

# 로컬히스토리 
**/.history/*
**/.lh/*

# Gradle
ITFO-BACK/.gradle/
ITFO-BACK/build/
!ITFO-BACK/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
ITFO-BACK/.apt_generated
ITFO-BACK/.classpath
ITFO-BACK/.factorypath
ITFO-BACK/.project
ITFO-BACK/.settings
ITFO-BACK/.springBeans
ITFO-BACK/.sts4-cache
ITFO-BACK/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
ITFO-BACK/.idea
ITFO-BACK/*.iws
ITFO-BACK/*.iml
ITFO-BACK/*.ipr
ITFO-BACK/out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
ITFO-BACK/nbproject/private/
ITFO-BACK/nbbuild/
ITFO-BACK/dist/
ITFO-BACK/nbdist/
ITFO-BACK/.nb-gradle/

### VS Code ###
ITFO-BACK/.vscode/

# **/.classpath
# **/.project
# **/.settings
# **/target
# **/build
# **/.gradle

**/node_modules