# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ITFO/ITFO-FRONT/node_modules
ITFO/ITFO-FRONT/.pnp
ITFO/ITFO-FRONT/.pnp.js

# testing
ITFO/ITFO-FRONT/coverage

# production
ITFO/ITFO-FRONT/build

# misc
ITFO/ITFO-FRONT/.DS_Store
ITFO/ITFO-FRONT/.env.local
ITFO/ITFO-FRONT/.env.development.local
ITFO/ITFO-FRONT/.env.test.local
ITFO/ITFO-FRONT/.env.production.local

ITFO/ITFO-FRONT/npm-debug.log*
ITFO/ITFO-FRONT/yarn-debug.log*
ITFO/ITFO-FRONT/yarn-error.log*

#로컬히스토리 
ITFO/ITFO-FRONT/.history/*
ITFO/ITFO-FRONT/.lh/*

# Gradle #
ITFO/ITFO-BACK/.gradle/
ITFO/ITFO-BACK/build/
!ITFO/ITFO-BACK/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
ITFO/ITFO-BACK/.apt_generated
ITFO/ITFO-BACK/.classpath
ITFO/ITFO-BACK/.factorypath
ITFO/ITFO-BACK/.project
ITFO/ITFO-BACK/.settings
ITFO/ITFO-BACK/.springBeans
ITFO/ITFO-BACK/.sts4-cache
ITFO/ITFO-BACK/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
ITFO/ITFO-BACK/.idea
ITFO/ITFO-BACK/*.iws
ITFO/ITFO-BACK/*.iml
ITFO/ITFO-BACK/*.ipr
ITFO/ITFO-BACK/out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
ITFO/ITFO-BACK/nbproject/private/
ITFO/ITFO-BACK/nbbuild/
ITFO/ITFO-BACK/dist/
ITFO/ITFO-BACK/nbdist/
ITFO/ITFO-BACK/.nb-gradle/

### VS Code ###
ITFO/ITFO-BACK/.vscode/